In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
data = {
    "Year of Experiences": [3, 5, 2, 7, 4, 6, 1, 9, 8, 10, 2, 4, 6, 8, 5, 3, 7, 9, 4, 6],
    "Salary": [45000, 60000, 38000, 75000, 52000, 68000, 30000, 90000, 82000, 100000, 36000, 50000, 72000, 85000, 59000, 42000, 77000, 92000, 54000, 69000]
}
dataset = pd.DataFrame(data)
dataset

    Year of Experiences  Salary
0                     3   45000
1                     5   60000
2                     2   38000
3                     7   75000
4                     4   52000
5                     6   68000
6                     1   30000
7                     9   90000
8                     8   82000
9                    10  100000
10                    2   36000
11                    4   50000
12                    6   72000
13                    8   85000
14                    5   59000
15                    3   42000
16                    7   77000
17                    9   92000
18                    4   54000
19                    6   69000

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [24]:
# Separate features and target variable
X = dataset["Year of Experiences"].values.reshape(-1, 1)  # Reshape to 2D array
y = dataset["Salary"].values

In [25]:
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [29]:
experience = np.array([11])
experience = experience.reshape(-1, 1)

salary = model.predict(experience)
print(salary)

[107334.3836156]

In [30]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Assign actual and predicted values
y_test = [109000]  # Wrap the integer in a list
y_pred = salary

# Calculate MAE
mae = mean_absolute_error(y_test, y_pred)
print("Mean Absolute Error (MAE):", mae)

# Calculate MSE
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error (MSE):", mse)

# Calculate RMSE
rmse = np.sqrt(mse)
print("Root Mean Squared Error (RMSE):", rmse)

Mean Absolute Error (MAE): 1665.6163844032853
Mean Squared Error (MSE): 2774277.9399926728
Root Mean Squared Error (RMSE): 1665.6163844032853

In [31]:
data = {
    "Year of Experiences": [3, 5, 2, 7, 4, 6, 1, 9, 8, 10, 2, 4, 6, 8, 5, 3, 7, 9, 4, 6],
    "Salary": [45000, 60000, 38000, 75000, 52000, 68000, 30000, 90000, 82000, 100000, 36000, 50000, 72000, 85000, 59000, 42000, 77000, 92000, 54000, 69000]
}

dataset = pd.DataFrame(data)

X = dataset[['Year of Experiences']]
y = dataset['Salary']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model_linear = LinearRegression()
model_linear.fit(X_train, y_train)

# testing the model
y_predict=model_linear.predict(X_test)

# Calculate MAE
mae_linear = mean_absolute_error(y_test, y_predict)
print("Mean Absolute Error (MAE):", mae_linear)

Mean Absolute Error (MAE): 973.7890864500314

In [33]:
df=pd.read_csv(' FuelConsumptionCo2.csv')

In [34]:
df.head(5)

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [36]:
df = df.dropna(subset=['FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS'])

# Extract features and target variable
X = df[['FUELCONSUMPTION_COMB_MPG']]
y = df['CO2EMISSIONS']

# Check lengths
print(len(X), len(y))

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

1067 1067

In [37]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [38]:
y_predict=model.predict(X_test)

In [41]:
mae=mean_absolute_error(y_test,y_predict)
print("Mean Absolute Error: " , mae)

Mean Absolute Error:  17.730612204853767

In [42]:
#Multiple Linear Regression

import pandas as pd
import numpy as np

# Generate synthetic data
np.random.seed(0)
num_samples = 100
years_of_experience = np.random.randint(1, 20, size=num_samples)
age = np.random.randint(22, 65, size=num_samples)
education_level = np.random.randint(1, 5, size=num_samples)  # Assume 1=High School, 2=Bachelor's, 3=Master's, 4=PhD
salary = 30000 + (years_of_experience * 2000) + (age * 100) + (education_level * 5000) + np.random.normal(scale=10000, size=num_samples)

# Create DataFrame
data = {
    "Years of Experience": years_of_experience,
    "Age": age,
    "Education Level": education_level,
    "Salary": salary
}
dataset = pd.DataFrame(data)

print(dataset.head())

   Years of Experience  Age  Education Level        Salary
0                   13   45                4  82454.993353
1                   16   24                2  69683.956665
2                    1   56                4  75723.546515
3                    4   57                2  30758.625212
4                    4   52                4  69712.093458

In [43]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Assuming you have loaded your dataset into a pandas DataFrame named 'dataset'
# Splitting the dataset into features (X) and target variable (y)
X = dataset[['Years of Experience', 'Age', 'Education Level']]  # Independent variables
y = dataset['Salary']  # Dependent variable

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the MLR model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Making predictions
y_pred = model.predict(X_test)

# Evaluating the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 70165147.6320723